<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.python.org//static/favicon.ico"
    />
    <title>Python Study</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <img
          class="python-logo"
          src="https://www.python.org/static/img/python-logo@2x.png"
          alt="python™"
          width="218"
          height="60"
        />
      </a>
    </nav>
    <h1>Find Your Dream!</h1>
    <form action="/search">
      <input type="text" name="keyword" placeholder="Search for jobs..." />
      <button type="submit">Search</button>
    </form>
    <div class="tech-stack">
      <div class="tech">
        <img src="경로/React-logo.png" alt="React" /><br />React
      </div>
      <div class="tech"><img src="경로/Vue-logo.png" alt="Vue" /><br />Vue</div>
      <div class="tech">
        <img src="경로/Angular-logo.png" alt="Angular" /><br />Angular
      </div>
      <div class="tech">
        <img src="경로/Node.js-logo.png" alt="Node.js" /><br />Node.js
      </div>
      <div class="tech">
        <img src="경로/Django-logo.png" alt="Django" /><br />Django
      </div>
      <div class="tech">
        <img src="경로/Flask-logo.png" alt="Flask" /><br />Flask
      </div>
      <div class="tech">
        <img src="경로/Ruby-on-Rails-logo.png" alt="Ruby on Rails" /><br />Ruby
        on Rails
      </div>
      <div class="tech">
        <img src="경로/Laravel-logo.png" alt="Laravel" /><br />Laravel
      </div>
      <div class="tech">
        <img src="경로/Next.js-logo.png" alt="Next.js" /><br />Next.js
      </div>
    </div>

    <footer>
      <p>© 2024 Python Study. All rights reserved.</p>
      <p style="color: #444444">
        Contact me at <a href="mailto:jhun@naver.com">jhun@naver.com</a>
      </p>
    </footer>
  </body>
</html>

<script>
  const form = document.querySelector("form");
  const input = form.querySelector("input");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    if (!input.value.trim()) {
      alert("Please enter a keyword :)");
      return;
    }
    const keyword = input.value.trim();
    window.location.href = `/search?keyword=${keyword}`;
  });
</script>
