<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.python.org//static/favicon.ico"
    />
    <title>Python Study</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <img
          class="python-logo"
          src="https://www.python.org/static/img/python-logo@2x.png"
          alt="python™"
          width="218"
          height="60"
        />
      </a>
    </nav>

    <div class="container">
      <div style="display: flex; justify-content: space-between">
        <p>
          Search Keyword Value : <b style="font-size: 1.2rem">{{ keyword }}</b>
        </p>

        <p>검색 결과: <b>{{ jobs|length }}</b>건</p>
      </div>
      {% if jobs %} {% for job in jobs %}
      <div class="job">
        <h2>
          {{ job.title }}
          <span style="font-size: 0.8rem; color: black"> / {{ job.site }}</span>
        </h2>
        <p>{{ job.company }}</p>
        <p>{{ job.description }}</p>
        <a href="{{ job.url }}" target="_blank">Apply</a>
      </div>
      {% endfor %} {% else %}
      <p>검색 결과가 없습니다.</p>
      {% endif %}
    </div>
  </body>
</html>
